<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Index Examen</title>
</head>
<body>
    <h1>Examen de Jose Miguel Arras Gavira</h1>
    <div>
        <h1>Esta es la página de inicio del examen.</h1>
        <a href="{% url 'fantasy_unidos' 'fantasy' 'unidos' %}">Videojuegos Fantasy Unidos</a>
        <br>
        <a href="{% url 'playstation_sony' %}">Videojuegos PlayStation Sony</a>
        <br>
        <a href="{% url 'ventas_estimadas' %}">Videojuegos por Ventas Estimadas</a>
        <br>
        <a href="{% url 'estudios_analisis' '2020' %}">Estudios con Análisis en Año Concreto</a>
        <br>
        <a href="{% url 'estudios_media_puntuacion' 'Juegos IT' %}">Videojuegos de Estudio con Media de Puntuación</a>
    </div>
</body>
</html>